<div class="container">
    <h3>Need to get in touch?</h3>
    <hr>
    <div class="col-md-4">
        <i class="fa fa-phone fa-4x" aria-hidden="true"></i>
        <p>Call us toll free Monday - Friday between 8AM and 8PM PST at 555-555-5555. Our offices are close on weekends</p>
    </div>
    <div class="col-md-4">
        <i class="fa fa-envelope fa-4x" aria-hidden="true"></i>
        <p>Email us at support@eatit.com. Please allow up to 24 hours for one of our representatives to respond.</p>
    </div>
    <div class="col-md-4">
        <i class="fa fa-whatsapp fa-4x" aria-hidden="true"></i>
        <p>Add us on WhatsApp. Again please allow up to 24 hours for one of our representatives to respond.</p>
    </div>
</div>
