<div class="wrapper">
    <div class='home-div'>
        <div class="contact-frm">
            <h2><strong>Get Started!</strong></h2>
            <p>Freshly cooked gourmet food delivered to your door.</p>
            <form>
                <div class="form-group">
                    <input type="text" name="firstName" class='form-control' placeholder='First Name'>
                </div>
                <div class="form-group">
                    <input type="text" name="lastName" class='form-control' placeholder='Last Name'>
                </div>
                <div class="form-group">
                    <input type="email" name="email" class='form-control' placeholder='Email'>
                </div>
                <div class="form-group">
                    <input type="password" name="password" class='form-control' placeholder='Password'>
                </div>
                <input type="submit" value="Register" class="btn btn-success btn-block">
            </form>
            <hr>
            <p>Already have an account? <a class='login-a'>Log In</a></p>
        </div>
    </div>
    
    <div class="container">
        <h1>Choose one of our plans to get started.</h1>
        <hr>
        <div class="col-md-3" data-aos="fade-up">
            <div class="info">*Standard Shipping <i class="fa fa-truck" aria-hidden="true"></i></div>
            <h1>4</h1>
            <h5>Meals per week</h5>
            <p>$14 / MEAL</p>
            <p>$56 / WEEK</p>
            <button class="btn btn-info">Select 4 Per Week</button>
        </div>
        <div class="col-md-3" data-aos="fade-down">
            <div class="secondary">*Discounted Shipping <i class="fa fa-truck" aria-hidden='true'></i></div>
            <h1>8</h1>
            <h5>Meals per week</h5>
            <p>$12 / MEAL</p>
            <p>$96 / WEEK</p>
            <button class="btn btn-secondary">Select 8 Per Week</button>
        </div>
        <div id='preferred-package' class="col-md-3" data-aos="fade-up">
            <div class="success">*Free Shipping <i class="fa fa-truck" aria-hidden='true'></i></div>
            <h1>12</h1>
            <h5>Meals per week</h5>
            <p>$10 / MEAL</p>
            <p>$120 / WEEK</p>
            <button class="btn btn-success">Select 12 Per Week</button>
            <div class="most-popular">Most Popular <i class="fa fa-star" aria-hidden="true"></i></div>
        </div>
        <div class="col-md-3" data-aos="fade-down">
            <div class='primary'>*Free Shipping <i class="fa fa-truck" aria-hidden="true"></i>
            </div>
            <h1>16</h1>
            <h5>Meals per week</h5>
            <p>$8 / MEAL</p>
            <p>$128 / WEEK</p>
            <button class='btn btn-primary'>Select 16 Per Week</button>
        </div>
        <hr>
    </div>
    <div class="container-2">
        <div class="home-div-2">
            <h1>Simplify Your Meals</h1>
            <p>Get fresh weekyl meals shipped straight to your door for as little as $8 / meal.</p>
            <hr>
            <div class="col-md-4" data-aos="fade-up-right">
                <i class="fa fa-hand-pointer-o fa-4x" aria-hidden="true"></i>
                <p>Select the number of meals based on the meal package you chose.</p>
            </div>
            <div class="col-md-4" data-aos="fade-up-left">
                <i class="fa fa-shopping-cart fa-4x" aria-hidden="true"></i>
                <p>Go to checkout, fill out your personal information, and place your order!</p>
            </div>
            <div class="col-md-4" data-aos="fade-up-right">
                <i class="fa fa-check fa-4x" aria-hidden="true"></i>
                <p>That's it! Your meals are on their way and will be at your front door before you know it.</p>
            </div>
        </div>
    </div>
</div>

<app-customer-reviews></app-customer-reviews>



