<div class="navbar navbar-expand-md navbar-dark mb-4">
    <div class="container">
        <a class="navbar-brand"><strong>EatIt!</strong></a>
        <button type="button" class='btn btn-success'><strong>View Our Menu</strong></button>
        <button class="navbar-toggler" type="button" data-toggle='collapse' data-target='#navbarMain'>
            <i class="fa fa-bars burger" aria-hidden="true"></i>
        </button>
        <div class="collapse navbar-collapse" id='navbarMain'>
            <ul id='mainNav' class="navbar-nav ml-auto">
                <li class="nav-item"><a class="nav-link" routerLink='/'>Home <i class="fa fa-home" aria-hidden="true"></i></a></li>
                <li class="nav-item"><a class="nav-link">Contact Us <i class="fa fa-phone-square" aria-hidden="true"></i></a></li>
                <li class="nav-item"><a class="nav-link">About Us <i class="fa fa-user-circle" aria-hidden="true"></i>
                </a></li>
                <li class="nav-item"><a class="nav-link" (click)='openDialog()'>Log In</a></li>
                <!-- <li class="nav-item"><button class="btn btn-primary" *ngIf="">Sign Up</button></li> -->
            </ul>
        </div>
    </div>
</div>
