<div class="container">
    <div class="col-md-12 logged-out" *ngIf='isLoggedIn'><h5>It looks like you're not logged in. Please log in to continue.</h5>
        <p>Don't have an account yet? <button class="btn btn-primary" (click)='openDialog()'>Register</button></p>
    </div>
    <div class="col-md-12">
        <div class="card" *ngFor='let item of menuItems'>
            <img class="card-img-top" src='{{ item.src }}' alt='{{ item.alt }}'>
                <h3>{{ item.title }}</h3>
        </div>
    </div>
    <div class='loader-div' *ngIf='loading'>
        <img class='loader' src="./assets/gifs/loader.gif" alt="loader">
      </div>
</div>
